.viewer-3d {
  opacity: 1 !important;
  width: 50%;
  height: 500px;
  margin: auto;
  border: black;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
}

html {
  --fallback-font: proxima-nova;
}
