.viewer-3d {
  opacity: 1 !important;
  width: 50%;
  height: 500px;
  margin: auto;
}

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: block;
}

.exit {
  width: 30px;
  height: 30px;
  top: calc(50% - (75vh / 2));
  left: calc(50% - (70vw / 2));
  position: relative;
  cursor: pointer;
}

.hide {
  display: none;
}

html {
  --fallback-font: proxima-nova;
}
.qrcode{
  width: fit-content;
}